<template>
  <div>
    <h2>{{title}}</h2>
    <router-link to="/">Go back home</router-link>
    <div v-if="groups.length === 0">
      <h2>No groups were found!</h2>
      <router-link to="/group">
        <button>Create a new group</button>
      </router-link>
    </div>
    <div v-else>
      <div class="group" v-for="group in groups" :key="group.id">
        <h2><router-link :to="`/group/${group.id}`">{{group.name}}</router-link> <span class="close-button" v-on:click="deleteGroup(group)">x</span></h2>
        <div>
          <strong>Users</strong>
          <ul>
            <li v-for="user in group.users" :key="user.id">
              <router-link :to="`/user/${user.id}`">
                <span class="badge">
                  {{user.name}}
                </span>
              </router-link>
              <span class="close-button" v-on:click.stop.prevent="removeFromGroup(user.id, group)">x</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/services/api.js'

const loadGroups = () => {
  return api.getGroups().map(grp => ({
    ...grp,
    users: grp.users.map(usr => api.getUser(usr))
  }))
}

export default {
  name: 'Group',
  components: {
  },
  data () {
    return {
      title: 'Groups',
      groups: loadGroups()
    }
  },
  methods: {
    deleteGroup: function (group) {
      if (group.users.length > 0) {
        alert('Groups must be empty for being deleted.')
        return
      }
      api.deleteGroup(group.id)
      this.$router.push({path: '/groups'})
    },
    removeFromGroup: function (id, group) {
      if (api.getUserGroups(id).length === 1) {
        alert('Users must be in at least one group')
        return
      }
      api.removeUserFromGroup(id, group.id)
      // Should not be needed, vue inexperience here
      this.groups = loadGroups()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
  text-decoration: none;
}
</style>
