<template>
  <div>
    <router-link to="/">Go back home</router-link>
    <div class="group" v-if="group">
      <h2>{{group.name}} <span class="close-button" v-on:click="deleteGroup(group.id)">x</span></h2>
      <ul>
        <li v-for="user in group.users" :key="user.id">
          <router-link :to="`/user/${user.id}`">
            <span class="badge">
              {{user.name}} <span class="close-button">x</span>
            </span>
          </router-link>
        </li>
      </ul>
    </div>
    <div v-else>
      <new-group-form />
    </div>

  </div>
</template>

<script>
import api from '@/services/api.js'
import newGroupForm from './NewGroupForm'

export default {
  name: 'Group',
  components: {
    newGroupForm
  },
  data () {
    const { id } = this.$route.params
    return {
      group: (id) ? {
        ...api.getGroup(id),
        users: api.getGroupUsers(id)
      } : null
    }
  },
  methods: {
    deleteGroup: function (id) {
      if (this.group.users.length > 0) {
        alert('Groups must be empty for being deleted.')
        return
      }
      api.deleteGroup(id)
      this.$router.push({path: '/groups'})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
