<template>
  <div id="home-container">
    <h2>{{title}}</h2>
    <ul>
      <template v-for="(item, index) in menu">
        <li :key="index">
          <router-link :to="item.path">{{item.text}}</router-link>
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Home',
  components: {
    pato: { template: '<h1>{{text}}</h1>' }
  },
  data () {
    return {
      title: 'What do you want to do?',
      menu: [
        { path: '/users', text: 'View current users' },
        { path: '/user', text: 'Add a new user' },
        { path: '/groups', text: 'View current groups' },
        { path: '/group', text: 'Create a new group' }
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
  text-decoration: none;
}

#home-container {
  border: 1px solid black;
  border-radius: 6px;
  width: 480px;
  margin: auto;
}
</style>
