<template>
  <form>
    <div>
      <label for="name">
        Name:
        <input v-model="form.name" type="text" id="name" />
      </label>
    </div>
    <div v-if="form.users.length > 0">
      Users in the group:
      <ul>
        <li v-for="user in form.users" :key="user.id">{{user.name}}</li>
      </ul>
    </div>
    <div v-if="users">
      Users:
      <div>
        <span class="badge" v-for="user in users" :key="user.id" v-on:click="addUser(user)">
          {{user.name}}
        </span>
      </div>
    </div>
    <button type="button" v-on:click="save">Save</button>
  </form>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import { snakeCase } from 'lodash'

import api from '@/services/api.js'

export default {
  name: 'NewUserForm',
  data () {
    return {
      form: {
        name: '',
        users: []
      },
      users: api.getUsers()
    }
  },
  components: {
    Datepicker
  },
  methods: {
    save: function () {
      api.saveGroup({
        id: snakeCase(this.form.name),
        name: this.form.name,
        users: this.form.users.map(usr => usr.id)
      })
    },
    addUser: function (user) {
      this.users = this.users.filter(usr => usr.id !== user.id)
      this.form.users.push(user)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
form {
  width: 480px;
  margin: auto;
}
.badge {
  cursor: pointer;
}
</style>
