<template>
  <form>
    <div>
      <label for="name">
        Name:
        <input v-model="form.name" type="text" id="name" />
      </label>
    </div>
    <div>
      <label for="email">
        Email:
        <input v-model="form.email" type="text" id="email" />
      </label>
    </div>
    <div>
      <label for="phone">
        Phone:
        <input v-model="form.phone" type="text" id="phone" />
      </label>
    </div>
    <div>
      Date of birth:
      <datepicker class="datepicker" v-model="form.birthdate" id="birthdate" />
    </div>
    <div>
      Group:
      <select v-model="form.group">
        <option v-for="group in groups" :key="group.id" :value="group.id">{{group.name}}</option>
      </select>
    </div>
    <button type="button" v-on:click="save">Save</button>
  </form>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import { snakeCase } from 'lodash'

import api from '@/services/api.js'

export default {
  name: 'NewUserForm',
  data () {
    return {
      form: {
        name: '',
        phone: '',
        email: ''
      },
      groups: api.getGroups()
    }
  },
  components: {
    Datepicker
  },
  methods: {
    save: function () {
      const user = {
        id: snakeCase(this.form.name),
        ...this.form
      }

      api.saveUser(user)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
form {
  width: 480px;
  margin: auto;
}

.datepicker {
  display: inline-block;
}
</style>
