<template>
  <div>
    <router-link to="/">Go back home</router-link>
    <div class="group" v-if="user">
      <h2>{{user.name}} <span class="close-button" v-on:click="deleteUser(user.id)">x</span></h2>
      <div class="field">
        <div class="title">Email</div>
        <h3>{{user.email}}</h3>
      </div>
      <div class="field">
        <div class="title">Phone</div>
        <h3>{{user.phone}}</h3>
      </div>
      <div class="field">
        <div class="title">Birthday</div>
        <h3>{{getBirthday(user.birthdate)}}</h3>
      </div>
      <ul>
        <li v-for="group in user.groups" :key="group.id">
          <router-link :to="`/group/${group.id}`">
            <span class="badge">
              {{group.name}}
            </span>
          </router-link>
          <span class="close-button" v-on:click.stop.prevent="removeFromGroup(user.id, group.id)">x</span>
        </li>
      </ul>
      <div v-if="groups.length > 0">
        <h3>Include user in group</h3>
        <div>
          <span class="badge" v-for="group in groups" :key="group.id" v-on:click="addGroup(group)">
            {{group.name}}
          </span>
        </div>
      </div>
    </div>
    <div v-else>
      <new-user-form />
    </div>
  </div>
</template>

<script>
import api from '@/services/api.js'
import newUserForm from './NewUserForm'

const getUser = id => {
  return {
    ...api.getUser(id),
    groups: api.getUserGroups(id)
  }
}

const allGroups = api.getGroups()

export default {
  name: 'User',
  components: {
    newUserForm
  },
  data () {
    const { id } = this.$route.params
    return {
      user: (id) ? getUser(id) : null
    }
  },
  computed: {
    groups: function () {
      const userGroupsIds = this.user.groups.map(grp => grp.id)
      return allGroups.filter(grp => !userGroupsIds.includes(grp.id))
    }
  },
  methods: {
    getBirthday: function (date) {
      if (!date) {
        return 'No birthday information.'
      }

      return new Date(date).toLocaleString()
    },
    deleteUser: function (id) {
      api.deleteUser(id)
      this.$router.push({path: '/users'})
    },
    removeFromGroup: function (id, grpId) {
      if (this.user.groups.length === 1) {
        alert('Users must be in at least one group')
        return
      }
      api.removeUserFromGroup(id, grpId)
      this.user = getUser(id)
    },
    addGroup: function (group) {
      this.user.groups.push(group)
      api.addUserToGroup(this.user.id, group.id)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.field .title {
  position: relative;
  color: #bbbbbb;
}
.badge {
  cursor: pointer;
}
</style>
