<template>
  <div>
    <h2>{{title}}</h2>
    <router-link to="/">Go back home</router-link>
    <div v-if="users.length === 0">
      <h2>No users found!</h2>
      <router-link to="/user">
        <button>Add a new user</button>
      </router-link>
    </div>
    <div v-else>
    <ul>
      <li v-for="user in users" :key="user.id">
        <router-link :to="`/user/${user.id}`">
          <h2>{{user.name}}</h2>
        </router-link>
      </li>
    </ul>
    </div>

  </div>
</template>

<script>
import api from '@/services/api.js'

export default {
  name: 'Group',
  components: {
  },
  data () {
    return {
      title: 'Users',
      users: api.getUsers()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  width: 480px;
  margin: auto;
  list-style-type: none;
  padding: 0;
  text-align: left;
}
li {
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #999999;
}
</style>
