<template>
  <div id="app">
    <h1>User Management System</h1>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.badge {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  background-color: #dddddd;
  color: #666666;
  border-radius: 12px;
  padding: 0 16px;
  margin: 6px;
  display: inline-block;
}
.badge:hover {
  background-color: #ddddff;
  color: #999999;
}
.group {
  border: 1px solid black;
  border-radius: 6px;
  width: 100%;
  max-width: 640px;
  margin: 24px auto;
}
.group h2 {
  font-weight: normal;
  margin-top: 0;
  padding: 0 16px;
  position: relative;
  top: -15px;
  display: inline-block;
  background-color: #ffffff;
}
.close-button {
  position: relative;
  top: -12px;
  display: inline-block;
  height: 12px;
  width: 12px;
  line-height: 12px;
  text-align: center;
  font-size: 8px;
  background-color: #ffffff;
  color: #666666;
  border: 1px solid #666666;
  border-radius: 10px;
  cursor: pointer;
}
</style>
